doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='/styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../public/styles.css
      
    body
      .row.cyan.darken-4
        h1(style='color: #f7dc6f')= title
        p(style=" color: #e0e0e0 ") The best microblogging service in the whole universum!      

      .row
        .col.s0.m0.l3
        .col.s12.m12.l3.xl3.cyan.darken-4.hoverable
          h3(style=" color: #f7dc6f") Create new post
          p(style=" color: #e0e0e0 ")  Characters are limited to 280
          form(method='POST' action='/posts/create')
            p 
            .form-group.col.s10.push-s1   
              label(for='content') Post text:
              input#content.form-control(type='text', placeholder='Type here' name='content')
  
            button.btn.lime.darken-3.pulse.waves-effect.waves-light(type='submit' name='action') Post it and Refresh
            p 
        .col
        .col.s12.m6.l4.xl4.cyan.darken-4.hoverable
          .col
            h4(style=" color: #f7dc6f") What's happening in the world
            each post in postlist
              .row.s8.m6.blue.lighten-4
                p.left-align #{post.author}: #{post.content} - #{post.time} - #{post.date}
            else
              p(style=" color: #e0e0e0 ") There are no posts yet. You have the chance to be the first to post something.

      .row
          form(method="POST" action="/posts/logout")
            button.btn.lime.darken-3.waves-effect.waves-light(type='submit' name='action') Log out
          br
      
    br
    p © Lähteinen Juha (2020)